<div class="contenedor-contactanos">
    
    <div class="contenedor-escribenos">
        <p><strong>Escríbenos</strong></p>
        <div class="contenedor-input-escribenos">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Asunto">
        </div>
        <textarea name="mensaje" placeholder="Mensaje"></textarea>
    </div>

    <div class="contenedor-oficinas">
        <p><strong>Oficinas</strong></p>
        <p>Blvd. Universidad Tecnológica 225, Universidad Tecnologica, San Carlos la Roncha, 37670 León de los Aldama,
            Gto.</p>
        <p>Conmutador: (55) 5747 45 45 y (55) 4749 45 45</p>
        <p>Atención a clientes: (55) 5747 45 45</p>
        <p>tiendapokemon&#64;gmail.com</p>
    </div>

</div>